name: macOS Build

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: macos-latest
    steps:
    - name: Install Qt
      uses: jurplel/install-qt-action@v3
      with:
        aqtversion: '==3.1.*'
        version: '5.15.2'
        host: 'mac'
        target: 'desktop'
        arch: 'clang_64'
        archives: 'qtsvg qtbase qttools'
        cache: 'true'
    - name: qmake
      run: |
        qmake --version
        ls /Users/runner/work/gihub-runner-test/Qt/5.15.2/clang_64/bin
